@import url('https://fonts.googleapis.com/css?family=Rubik:400,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/******> Header <******/
header {
    width: 100%;
    height: 60em;
    background: url("../media/index-header-bg.png");
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    text-decoration: none;
}

/******> Navigation <******/
.header-nav {
    width: 100%;
    height: 15em;
    background: #3C9CE3;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.1);
}

h1 {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 6.25em;
    margin-left: 0.5em;
}

#stombay-description {
    width: 100%;
    height: 4.7em;
    position: relative;
    order: 3;
    padding-bottom: 3em;
}

#stombay-description h1 {
    font-size: 2.5em;
    position: absolute;
    left: 6.25em;
    top: 0.6em;
    z-index: 1;
}

p {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    margin-left: 2.5em;
}

#announcement {
    margin: 2.5em 3em 0 0;
    width: 30em;
    height: 6em;
    background: #3D8AC2;
    border-radius: 17px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav ul {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 25em;
    list-style: none;
}

.header-nav li {
    background: #3D8AC2;
    width: 20em;
    height: 4em;
    position: relative;
    transform: skew(-40deg);
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav li.active {
    background: #377CAF;
    border: none;
}

.header-nav li:last-child {
    width: 100vw;
}

.header-nav a {
    position: absolute;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 1.875em;
    letter-spacing: -0.045em;
    transform: skew(40deg);
    transition: 0.2s;
}

.header-nav a:hover {
    color: #d5d5d5;
}

h2 {
    width: 100%;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 12em;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    margin-top: 0.5em;
}

#header-play {
    background: #23D160;
    border: 5px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 14px;
    width: 35em;
    height: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10em;
}

#header-play h1 {
    font-size: 4em;
    margin: 0;
}